.app-title {
  margin-left: 30px;
  color: chocolate;
}

.todoTitle {
  border-bottom: 1px solid;
}

.todoList {
  list-style: none;
}

.statusSelect {
  margin-left: 80px;
}

.todoForm {
  margin-left: 30px;
}

.descriptionForm {
  margin-left: 30px;
}
